<div class="slots-grid">
    {% for slot in slots %}
        <div class="slot-container size-{{slot.size}}">
            <div class="slot {{slot.status}}
            {% if 'active' in slot %} active {% endif %}
            ">{{slot.size}}</div>
            
        </div>
    {% endfor %}

</div>
<style>
    .slots-grid{
        display: flex;
        flex-flow: row wrap;
        /* gap: 10px; */

        /* display: grid;
        grid-template-rows: 50px 50px 50px 50px;
        grid-template-columns: 100px 100px 100px 100px 100px 100px; */
        width: 600px;
        /* column-gap:20px;
        row-gap:20px; */
        align-items: stretch;

    }

    .slot-container{
        height: 50px;
        display: block;
        /* padding: 5px; */
        /* border: 1px solid black; */
    }

    .slot{
        display: block;
        margin-left: 5px;
        height: 90%;
    }

    .True{
        background-color: rgb(255, 124, 124);
    }

    .False{
        background-color: #cecece;
    }

    .active{
        background-color: green;
    }

    .size-1{
        flex: 1 calc(100% / 6);
        /* flex-grow: calc(100% /6); */
    }

    .size-2{
        flex: 1.5 calc(100% / 4) ;
        /* flex: 1 calc(100% / 4); */
    }

    .size-3{
        flex: 2 calc(100% / 3);
    }

    .size-4{
        flex: 3 50%;
    }
</style>